html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.hidden {
	display: none;
}

.loading {
	position: absolute;
	background-color: #1c1b1e;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	z-index: 11;
}

.splash {
	position: absolute;
	background-color: #1c1b1e;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../images/vector/remote.svg');
	background-size: 30% 30%;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	z-index: 1000;
}

.login {
	position: absolute;
	margin-top: -38px;
	margin-left: -76.5px;
	top: 50%;
	left: 50%;
	height: 76px;
	width: 153px;
	z-index: 100;
}

.login input {
	width: 149px;
	height: 16px;
}

.login input:first-child {
	margin-bottom: 5px;
}

.login input[type="submit"] {
	height: 22px;
	width: 153px;
	margin-top: 5px;
}

.login input[type="submit"].ios {
	margin-left: 3px;
}

.side-menu, .side-left {
	position: absolute;
	z-index: 8;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: orange;
}

header {
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	background-color: #fff;
	z-index: 10;
}

header h2 {
	margin-bottom: 0px;
	text-align: center;
	margin-top: -35px;
}

.menu-button {
	display: inline-block;
	text-align: center;
	width: 50px;
	height: 40px;
	font-size: 27px;
	margin-top: 25px;
}

.panel {
	position: absolute;
	background-color: #ddd;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
}

.content {
	left: 0;
	top: 0;
	right: 0;
	height: 100%;
	overflow: hidden;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 65px;
}