body {
	margin: 0px;
}

.hidden {
	display: none;
}

.loading {
	position: absolute;
	background-color: #1c1b1e;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;
}

.splash {
	position: absolute;
	background-color: #1c1b1e;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../images/vector/remote.svg');
	background-size: 30% 30%;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.login {
	position: absolute;
	margin-top: -38px;
	margin-left: -76.5px;
	top: 50%;
	left: 50%;
	height: 76px;
	width: 153px;
	z-index: 100;
}

.login input {
	width: 149px;
	height: 16px;
}

.login input:first-child {
	margin-bottom: 5px;
}

.login input[type="submit"] {
	height: 22px;
	width: 153px;
	margin-top: 5px;
}

.login input[type="submit"].ios {
	width: 157px;
}

.panel {
	position: absolute;
	background-color: #ddd;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9;
}